[user]
	email = ashton.sidhu1994@gmail.com
	name = Ashton Sidhu
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	gpsup = "git push -u origin $(git symbolic-ref --short HEAD)"
	undo = "! f() { git clean -df && git checkout -- .}; f"
	reset-to-remote = "! git clean -d -f && git fetch origin && git checkout master && git reset --hard origin/master"
